@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --dark-blue: #12232e;
  --light-blue: #007cc7;
  --lightest-blue: #4da8da;
  --dark-blue-shadow: #203647;
  --light-blue-shadow: #eefbfb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark-blue);
  overflow-x: hidden;
}

li {
  list-style: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
}
nav {
  padding: 0 50px;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: var(--dark-blue);
  z-index: 100;
  color: #ccc;
}

nav a {
  color: #ccc;
}

.menu__full {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__full li {
  padding: 15px;
}

.menu__full li a {
  color: #ccc;
  transition: 0.5s all ease;
}

.menu__full li a:hover {
  color: #FFF;
  transition: 0.5s all ease;
}

.toggle {
  position: absolute;
  right: 5%;
  cursor: pointer;
  z-index: 10000;
}

.toggle i {
  font-size: 2rem;
}

.menu {
  display: none !important;
}

.close {
  display: none !important;
}

.close.active {
  display: block !important;
  z-index: 10000;
}

.menu__toggle {
  display: flex !important;
  position: absolute;
  top: -100vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--dark-blue);
  transition: 0.5s all ease;
}

.menu__toggle.active {
  top: 0;
}

.menu__toggle ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu__toggle ul li {
  font-size: 2rem;
  padding: 20px;
  transition: 0.5s all ease;
}

section {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section:nth-child(odd) {
  background-color: var(--dark-blue);
}

section:nth-child(even) {
  background-color: var(--light-blue);
}

.title {
  font-size: 2rem;
  color: #ccc;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 3px solid var(--dark-blue-shadow);
  letter-spacing: 2px;
  text-align: center;
}

.sub-title {
  font-size: 1.2rem;
  color: #ccc;
  padding-bottom: 5px;
  margin: 10px 0;
  border-bottom: 1px solid var(--dark-blue-shadow);
  letter-spacing: 1px;
  text-align: center;
}

#hero {
    top: 60px;
    height: 100vmin;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

#hero img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    background-position: center;
    opacity: 0.5
}

#hero h1 {
  position: absolute;
  bottom: 10%;
  font-size: 2rem;
  letter-spacing: 2px;
  color: #ccc;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}

#about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .about__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .title {
  margin-top: 50px;
  color: #ccc;
}

#about img {
  width: 300px;
  height: 300px;
  padding: 25px;
  margin: 25px;
  object-fit: cover;
}

.about__text {
  padding: 10px 0px;
  color: #ccc;
}

#videos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#videos p {
  font-size: 1.25rem;
  width: 100%;
  text-align: center;
  color: #ccc;
}

#videos .sub-title {
  margin-top: 20px;
}

#videos .btn {
  padding: 20px;
  background: var(--dark-blue);
  color: #CCC;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 8px;
  font-size: 1.2rem;
  margin-top: 25px;
  transition: 0.5s all ease;
}

#videos .btn:hover {
  background: var(--light-blue);
  border: 1px solid var(--dark-blue);
  transition: 0.5s all ease;
}

.channel__link {
  color: #ccc;
  font-weight: bold;
  transition: 0.5s all ease;
}

#videos .channel__link:hover {
  color: var(--dark-blue);
}

.channel__link:hover {
  color: var(--light-blue);
}

.youtube__container {
  padding: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.youtube {
  height: 320px;
  flex: 1 1 300px;
  padding: 20px;
}

#news * {
  color: #ccc;
}

.news__container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 50px;
}

.news__box {
  display: flex;
  flex-direction: column;
}

.news__title {
  font-size: 1.2rem;
  font-weight: bold;
}

.news__text {
  font-size: 0.8rem;
}

#merchandise * {
  color: #ccc;
}

.merchandise__container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
}

.merchandise__box {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.merchandise__box * {
  padding: 10px 0;
}

.merchandise__title {
  font-size: 1.25rem;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.merchandise__box a {
  height: 300px;
  width: 300px;
}

.merchandise__picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.merchandise__description {
  text-align: center;
  font-size: 0.8rem;
}

#contact p {
  text-align: center;
  color: #ccc;
}

.socials__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.socials__container i {
  font-size: 4rem;
  color: #ccc;
  padding: 0 50px;
  transition: 0.5s all ease;
}

.socials__container i:hover {
  color: #aaa;
  transition: 0.5s all ease;
}

footer {
  width: 100%;
  height: 100px;
  color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.web {
  padding: 20px;
  font-size: 0.8rem;
  text-decoration: none;
}

.web a {
  color: var(--light-blue);
}

@media screen and (max-width: 768px) {
  section {
    padding: 50px 25px;
  }

  .socials__container i {
    font-size: 2rem;
    padding: 0 25px;
    transition: 0.5s all ease;
  } 
   
  #about .about__container {
    flex-direction: column;
  }

  #about img {
    width: 100%;
  }

  .about__text {
    text-align: center;
  }

  .menu__full {
    display: none;
  }

  nav {
    padding: 25px;
  }

  .menu.active {
    display: block !important;
  }
}
